<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<!-- Basic -->

<head th:replace="~{fragments::head}">


    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
<!-- Start Main Top -->
<div th:replace="~{fragments::main-top}">
</div>
<!-- End Main Top -->


<!-- Start Main Top -->
<header th:replace="~{fragments::main-header}">
</header>
<!-- End Main Top -->

<!-- Start Top Search -->


<!-- End Top Search -->

<!-- Start All Title Box -->
<div th:replace="fragments:: all-title-box">
</div>
<!-- End All Title Box -->

<!-- Start Cart  -->
<div class="cart-box-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="table-main table-responsive">
                    <h5 class="mb-4">Cart (<span th:text="${cartCount}">2</span> items)</h5>
                    <form action="/cart/updateQuantity" method="post">
                        <table class="table" >
                            <thead>
                            <tr>
                                <th>Images</th>
                                <th>Product Name</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="item, iStat : ${cart}">
                                <td class="thumbnail-img">
                                    <a href="#">
                                        <img class="img-fluid"
                                             th:src="@{${'/productImages/' + item.imageName}}" alt=""/>
                                    </a>
                                </td>
                                <td class="name-pr">
                                    <p th:text="${item.name}"></p>
                                </td>
                                <td class="price-pr">
                                    <p th:text="'&#x20AB;' + ${#numbers.formatDecimal(item.price, 0, 'COMMA', 0, 'POINT')} + ' VND'"></p>

                                </td>
                                <td>
                                    <input type="number" name="quantity" min="1" th:value="${item.quantity}" />
                                    <input type="hidden" name="productId" th:value="${item.id}" />
                                </td>
                                <td th:text="'&#x20AB;' + ${#numbers.formatDecimal(item.price * item.quantity, 0, 'COMMA', 0, 'POINT')} + ' VND'"></td>

                                <td>
                                    <a href="#!" th:href="@{/cart/removeItem/{index}(index=${iStat.index})}" class="card-link-secondary small text-uppercase"><i class="fas fa-trash-alt mr-1"></i> Remove item</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <button type="submit" class="btn btn-primary">Update Quantity</button>
                        <a class="btn btn-primary" th:href="@{/shop}">Thêm sản phẩm khác</a>
                    </form>
                </div>
            </div>
        </div>

        <div class="row my-5" th:if = "${total}">
            <div class="col-lg-8 col-sm-12"></div>
            <div class="col-lg-4 col-sm-12">
                <div class="order-box">
                    <h3>Order summary</h3>
                    <div class="d-flex">
                        <h4>Sub Total</h4>
                        <div class="ml-auto font-weight-bold"> </div>
                    </div>
                    <hr class="my-1">

                    <div class="d-flex">
                        <h4>Phí vận chuyển</h4>
                        <div class="ml-auto font-weight-bold"> Free</div>
                    </div>
                    <hr>
                    <div class="d-flex gr-total">
                        <h5>Tổng tiền</h5>
                        <div class="ml-auto h5" th:text="'&#x20AB;' + ${#numbers.formatDecimal(total , 0, 'COMMA', 0, 'POINT')} + ' VND'"></div>
                    </div>
                    <hr>
                </div>
            </div>
            <div class="col-12 d-flex shopping-box"><a href="checkout.html" th:href="@{/checkout}" class="ml-auto btn hvr-hover">Checkout</a>
            </div>
        </div>
    </div>
</div>
<!-- End Cart -->

<!-- Start Feed  -->


<!-- End Feed  -->


<!-- Start Footer  -->
<footer th:replace="~{fragments::footer}"></footer>


<div th:replace="~{fragments::script}"></div>
</body>

</html>