<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<!-- Basic -->

<head>
    <div th:replace="~{fragments::head}"></div>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
<!-- Start Main Top -->
<div th:replace="~{fragments::main-top}"></div>
<!-- End Main Top -->


<!-- Start Main Top -->
<header th:replace="~{fragments::main-header}"></header>
<!-- End Main Top -->

<!-- Start Top Search -->

<!-- End Top Search -->

<!-- Start All Title Box -->
<div th:replace="fragments:: all-title-box">
</div>
<!-- End All Title Box -->

<!-- Start Shop Detail  -->
<div class="shop-detail-box-main">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-5 col-md-6">
                <div id="carousel-example-1" class="single-product-slider carousel slide" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <img class="d-block w-100" th:src="@{${'/productImages/' + product.imageName}}"
                                 alt="First slide"></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-7 col-lg-7 col-md-6">
                <form th:action="@{/addToCart/{id}(id=${product.id})}" method="get">
                    <div class="single-product-details">
                        <h2 th:text="${product.name}"></h2>
                        <h4>Số lượng: <span th:text="${product.quantity}"></span></h4>
                        <h5 th:text="'&#x20AB;' + ${#numbers.formatDecimal(product.price, 0, 'COMMA', 0, 'POINT')} + ' VND'"></h5>

                        <h4>Short Description:</h4>
                        <p th:text="${product.description}"></p>
                        <div class="price-box-bar">
                            <div class="cart-and-bay-btn">
                                <input type="hidden" th:value="${product.id}" name="id" class="form-control">
                                <input type="submit" class="btn hvr-hover" value="Add to cart">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>



</div>
</div>

<!-- End Cart -->

<!-- Start Feed  -->

<!-- End Feed  -->


<!-- Start Footer  -->
<footer th:replace="~{fragments::footer}">
</footer>

<div th:replace="~{fragments::script}"></div>
</body>

</html>